.has-background-green{
  background: #5CDB94 !important;
}

.has-background-dark-green{
  background: #389583 !important;
}

.has-background-medium-green{
  background: #8DE4AF !important;
}

.has-background-grey-custom{
  background: #EDF5E0 !important;
}

.has-background-dark-blue{
  background: #05396B !important;
}

.color-dark-blue {
    color: #05396B;
}

