@font-face {
    font-family: 'SVNGilroy';
    font-style: normal;
    font-weight: normal;
    src: local('SVNGilroy'), url('../../font/SVNGilroy.woff') format('woff');
}

@font-face {
    font-family: 'SVNGilroyBold';
    font-style: normal;
    font-weight: normal;
    src: local('SVNGilroyBold'), url('../../font/SVNGilroyBold.woff') format('woff');
}