.navbar-end {
    font-family: SVNGilroy;
    color: #05396B;
}

.font-nav {
    font-family: SVNGilroy;
    color: #05396B;
    font-size: 16px;
    font-weight: 700;
}

.font-logo {
    font-family: SVNGilroyBold;
    color: #05396B;
    font-size: 32px;
    
}

.border-button {
    border: 2px solid #05396B;
    border-radius: 6px;
    font-size: 16px;
}
