.badge-banner {
    background: #05396B;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    color: #fff;
    font-family: SVNGilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.titles-banner {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
}

.images-banner {
    width: 100%;
    align-items: right;
    margin-bottom: -25px;
}

.margin-12 {
    margin-top: 40px;
}

.custom-hero {
    margin-top: -40px;
}

.search-panel {
    margin-top: -50px;
    width: 100%;
    position: absolute;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem 0rem 1.5rem;
}

.border-line-one {
    border-top: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

.text-location {
    font-size: 16px;
    bottom: 120px;
    color: #828282;
}

.border-line-two {
    border-top: 1px solid #F2F2F2;
}

.padding0 {
    padding: 0px;
}

.title-card {
    font-size: 24px;
    color: #05396B;
}

.icon-maps {
    font-size: 16px;
    position: relative;
    top: 2px;
    color: #828282;
}
