.badge-banner {
    background: #05396B;
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    color: #fff;
    font-family: SVNGilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.titles-banner {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
}

.images-banner {
    width: 100%;
    align-items: right;
    margin-bottom: -25px;
}

.margin-12 {
    margin-top: 40px;
}

.custom-hero {
    margin-top: -40px;
}

.search-panel {
    margin-top: -50px;
    width: 100%;
    position: absolute;
}

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem 0rem 1.5rem;
}

.border-line-one {
    border-top: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
}

.text-location {
    font-size: 16px;
    bottom: 120px;
    color: #828282;
}

.border-line-two {
    border-top: 1px solid #F2F2F2;
}

.padding0 {
    padding: 0px;
}

.title-card {
    font-size: 24px;
    color: #05396B;
}

.icon-maps {
    font-size: 16px;
    position: relative;
    top: 2px;
    color: #828282;
}

.is-fullwidth select option {
    margin-left: 200px;
}

.control.has-icons-left .custom-select select {
    padding-left: 6rem;
    text-align: right;
}

.no-border-left select {
    border: none;
}

.no-border-right {
    border: none;

}

.full-select {
    width: 100%;
}

.select-left-text {
    font-weight: 600;
    font-size: 16px;
}

.custom-select2 {
    width: 100%;
    border: 1px solid #2B3940;
    border-radius: 5px;
}

.select select:focus {
    border-color: rgba(50, 115, 220, 0);
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0);
}

.float-right {
    float: right;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #828282;
    right: 1.125em;
    z-index: 4;
}

#advance {
    display: none;
}

.btn-advance{
    cursor: pointer;
}
.btn-advance2{
    cursor: pointer;
}

/*
footer {
position: absolute;
  bottom: 0;

}*/

.container2 {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.mt-160{
    margin-top: 160px;
}
@media screen and (max-width: 769px) {
.mt-160{
    margin-top:360px;
}
}
